{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "ignorePatterns": [
    "node_modules/*",
    "*.js",
    "!src/*.js"
  ],
  "rules": {
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "no-trailing-spaces": "error",
    "no-use-before-define": "off",
    "no-unused-vars": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}
